# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Rust build
src-tauri/target/
src-tauri/gen/
src-tauri/.env

# Environment
.env
.env.*
